# Categorization

#### Import packages and data

In [2658]:
import pandas as pd
import numpy as np
import seaborn as sns
import time

from glob import glob
import matplotlib.pyplot as plt
%matplotlib inline

from scipy import stats

In [2659]:
business=pd.read_csv('C:/Users/marast01/Desktop/PY/yelp_business_85001-85099.csv')
demographics=pd.read_csv('C:/Users/marast01/Desktop/PY/Census.csv')

In [2660]:
business.head(2)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...

#### Generate new column for single category

In [2661]:
business['cat'] = "NA"

#### Generate Dummy Variable Columns

In [2662]:
list_dv = ['Fast Food','Bars','Gluten-Free','Vegetarian','Vegan','Pizza']

In [2663]:
for i in list_dv: 
    business[i] = business['categories'].str.contains(i, regex=False)

In [2664]:
business.head(2)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories,cat,Fast Food,Bars,Gluten-Free,Vegetarian,Vegan,Pizza
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...,NA,False,False,False,False,False,False
1,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...,NA,False,False,False,False,False,False

#### Filter by restaurants

In [2665]:
business['temp'] = "0"
business['temp'] = business['categories'].str.contains('Restaurant', regex=False)
business = business[business.temp == True]
business['temp'].value_counts()

True    3652
Name: temp, dtype: int64

#### Categorize a restaurant based on categories

In [2666]:
list_cat = ['Nightlife','Music Venues','Venues & Event Spaces','Arts & Entertainment','Grocery',
            
            #######
            
            #generic categories go first
            'Comfort Food',
            'Bars',
            'Fast Food',
            'Breakfast & Brunch',
            'Desserts',           
            'Cafes','Bakeries','Delis','Cafeteria',
            'American (Traditional)',
            'American (New)',
            'Seafood',
            'Buffets',
            'Gluten-Free','Vegetarian', 'Vegan',
            'Cheesesteaks','Chicken',
            'Hot Dogs',
            
            #Filter through American food
            'Sandwiches','Burgers','Sports Bars','Barbeque','Steakhouses',
            #Filter through central American food
            'Latin America','Mexican','Tex-Mex','Peruvian','Salvadoran',
            #Filter through Mediterranean food
            'Mediterranean','Greek',
            #Filter through Asian Food
            'Chinese','Asian Fusion','Thai','Vietnamese','Japanese','Sushi',
            'Korean',
            #Filter through Middle East
            'Middle Eastern',
            
            #Filter through pizza and Italian
            'Pizza','Italian',
            #Filter through Carribean
            'Carribean','Caribbean','Cajun','Cuban',
            #Filter through European 
            'Modern European','French',
            'Russian','Ukranian','Polish','Uzbek','Afghan',
            'German','Bavarian',
            'Spanish',
            #Filter through African
            'African','Ethiopian',
            #Filter throuh Indian
            'Indian',#'Pakistani',
                     
            #Filter through Southern
            'Southern','Diners','Soul Food',
            #Filter through bar restaurants
            'Sports Bar','Wine Bars','Gastropub','Cocktail Bars','Dive Bar',
            #Filter through misc.
            'Coffee & Tea','Juice Bars & Smoothies','Ice Cream & Frozen Yogurt',
            'Bagels', 'Donuts',
            'Fish & Chips','Kosher','Pretzels',
            'Hawaiian', 
            
            ########
            
            #Label things that are not restaurants
            
            'Festival','Food Trucks','Event Planning & Services','Grocery', 
            'Food Delivery Services','Shopping','Active Life', 'Party & Event Planning',
            'Health Markets','Convenience Stores', 'Arcades','Professional Services',
            'Home & Garden','Dance Clubs', 'Wholesalers','Restaurant Supplies',
            'Automotive','Furniture Stores', 'Health & Medical','Gas Stations',
            'Kitchen & Bath','Beauty & Spas', 'Home Services','Appliances','Day Spas',
            'Personal Chefs','Caterers', 'Fashion','Food Court','Veterinarians'
            
             ]

In [2667]:
for i in list_cat: 
    business['temp'] = "0"
    business['temp'] = business['categories'].str.contains(i, regex=False)
    business['cat'] = np.where(business['temp'] == True, i, business['cat'])

In [2668]:
business['cat'].value_counts()

Mexican                      513
Sandwiches                   268
Burgers                      264
Italian                      217
Pizza                        195
Chinese                      164
Caterers                     117
American (Traditional)       115
American (New)                94
Coffee & Tea                  92
Sports Bar                    92
Sushi                         75
Tex-Mex                       61
Diners                        60
Greek                         59
Fast Food                     53
Barbeque                      52
Food Trucks                   52
Wine Bars                     50
Ice Cream & Frozen Yogurt     46
Chicken                       44
Thai                          43
Cocktail Bars                 43
Steakhouses                   40
Vietnamese                    38
Juice Bars & Smoothies        34
Indian                        34
Asian Fusion                  32
Japanese                      31
Grocery                       27
Bagels                        27
Food Delivery Services        26
Middle Eastern                26
Mediterranean                 26
NA                            24
Breakfast & Brunch            22
Soul Food                     22
Fish & Chips                  22
Buffets                       22
Hot Dogs                      21
Donuts                        19
French                        18
Gastropub                     18
Hawaiian                      18
Event Planning & Services     18
Cafes                         16
Seafood                       16
Bars                          15
Southern                      14
Korean                        13
Dive Bar                      13
Delis                         13
Bakeries                      12
Shopping                      11
Health Markets                10
Active Life                   10
Caribbean                      9
Kosher                         9
Food Court                     9
Vegan                          9
Latin America                  8
Salvadoran                     8
Arcades                        8
Cajun                          8
Vegetarian                     7
Cuban                          7
Dance Clubs                    7
Convenience Stores             7
Fashion                        5
Party & Event Planning         5
Polish                         5
Spanish                        4
Festival                       4
African                        4
Appliances                     4
Home Services                  4
Ethiopian                      4
Bavarian                       3
Gas Stations                   3
Day Spas                       3
Pretzels                       3
Health & Medical               3
Modern European                3
Gluten-Free                    2
Afghan                         2
Restaurant Supplies            2
German                         2
Personal Chefs                 2
Peruvian                       2
Cheesesteaks                   1
Furniture Stores               1
Arts & Entertainment           1
Beauty & Spas                  1
Veterinarians                  1
Nightlife                      1
Cafeteria                      1
Comfort Food                   1
Russian                        1
Kitchen & Bath                 1
Name: cat, dtype: int64

#### Remove non-restaurant categories that still remain

In [2669]:
list_drop = ['Appliances','Home Services','Festival','Health & Medical',
             'Gas Stations','Day Spas','Restaurant Supplies',
             'Personal Chefs','Veterinarians','Arts & Entertainment',
             'Kitchen & Bath','Nightlife','Furniture Stores','Beauty & Spas',
             'Arcades','Dance Clubs','Party & Event Planning',
             'Convenience Stores','Caterers','Food Trucks','Active Life',
             'Food Delivery Services','Health Markets','Shopping','Grocery',
             'Event Planning & Services','Fashion'
            ]

In [2670]:
for i in list_drop:
    business = business.loc[business['cat'] != i]

In [2671]:
business.shape[0]

3318

In [2672]:
pd.set_option('display.max_row', 100)
business['cat'].value_counts()

Mexican                      513
Sandwiches                   268
Burgers                      264
Italian                      217
Pizza                        195
Chinese                      164
American (Traditional)       115
American (New)                94
Sports Bar                    92
Coffee & Tea                  92
Sushi                         75
Tex-Mex                       61
Diners                        60
Greek                         59
Fast Food                     53
Barbeque                      52
Wine Bars                     50
Ice Cream & Frozen Yogurt     46
Chicken                       44
Thai                          43
Cocktail Bars                 43
Steakhouses                   40
Vietnamese                    38
Indian                        34
Juice Bars & Smoothies        34
Asian Fusion                  32
Japanese                      31
Bagels                        27
Mediterranean                 26
Middle Eastern                26
NA                            24
Fish & Chips                  22
Buffets                       22
Breakfast & Brunch            22
Soul Food                     22
Hot Dogs                      21
Donuts                        19
Gastropub                     18
Hawaiian                      18
French                        18
Seafood                       16
Cafes                         16
Bars                          15
Southern                      14
Delis                         13
Dive Bar                      13
Korean                        13
Bakeries                      12
Vegan                          9
Kosher                         9
Food Court                     9
Caribbean                      9
Salvadoran                     8
Cajun                          8
Latin America                  8
Cuban                          7
Vegetarian                     7
Polish                         5
Spanish                        4
African                        4
Ethiopian                      4
Modern European                3
Bavarian                       3
Pretzels                       3
Peruvian                       2
Afghan                         2
Gluten-Free                    2
German                         2
Comfort Food                   1
Russian                        1
Cheesesteaks                   1
Cafeteria                      1
Name: cat, dtype: int64

#### Categorize a restaurant by its name

In [2673]:
business['temp'] = business['name'].str.contains('Burger King', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Burger', business['cat'])

In [2674]:
business['temp'] = business['name'].str.contains('McDonalds', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Burger', business['cat'])

In [2675]:
business['temp'] = business['name'].str.contains('Dairy Queen', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Ice Cream & Frozen Yogurt', business['cat'])

In [2676]:
business['temp'] = business['name'].str.contains('Noodles & Company', regex=False)
business['cat'] = np.where(business['temp'] == True, 'American (New)', business['cat'])

In [2677]:
business['temp'] = business['name'].str.contains('The Loaded Potato', regex=False)
business['cat'] = np.where(business['temp'] == True, 'American (New)', business['cat'])

In [2678]:
business['temp'] = business['name'].str.contains('Food Court', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Food Court', business['cat'])

In [2679]:
business['temp'] = business['name'].str.contains('Sonic', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Ice Cream & Frozen Yogurt', business['cat'])

In [2680]:
business['temp'] = business['name'].str.contains('Mighty Mikes', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Burger', business['cat'])

In [2681]:
business['temp'] = business['name'].str.contains('Salad', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Salad', business['cat'])

In [2682]:
business['temp'] = business['name'].str.contains('Pizza', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Pizza', business['cat'])

In [2683]:
business['temp'] = business['name'].str.contains('pizza', regex=False)
business['cat'] = np.where(business['temp'] == True, 'pizza', business['cat'])

In [2684]:
business['temp'] = business['name'].str.contains('Taco', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Mexican', business['cat'])

In [2685]:
business['temp'] = business['name'].str.contains('taco', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Mexican', business['cat'])

In [2686]:
business['temp'] = business['name'].str.contains('Carl', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Burgers', business['cat'])

In [2687]:
business['temp'] = business['name'].str.contains('Red Robin', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Burgers', business['cat'])

In [2688]:
business['temp'] = business['name'].str.contains(r'(?=.*Jack)(?=.*Box)',regex=True)
business['cat'] = np.where(business['temp'] == True, 'Burgers', business['cat'])

In [2689]:
business['temp'] = business['name'].str.contains(r'(?=.*Jack)(?=.*box)',regex=True)
business['cat'] = np.where(business['temp'] == True, 'Burgers', business['cat'])

In [2690]:
business['temp'] = business['name'].str.contains('Chicken', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Chicken', business['cat'])

In [2691]:
business['temp'] = business['name'].str.contains('Fish', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Seafood', business['cat'])

In [2692]:
business['temp'] = business['name'].str.contains('Fish & Chips', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Fish & Chips', business['cat'])

In [2693]:
business['temp'] = business['name'].str.contains('Wong', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Chinese', business['cat'])

In [2694]:
business['temp'] = business['name'].str.contains('Grill', regex=False)
business['cat'] = np.where(business['temp'] == True, 'American (New)', business['cat'])

In [2695]:
business['temp'] = business['name'].str.contains('Cafe', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Cafe', business['cat'])

In [2696]:
business['temp'] = business['name'].str.contains('Deli', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Deli', business['cat'])

In [2697]:
business['temp'] = business['name'].str.contains('Pretzels', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Pretzels', business['cat'])

In [2698]:
business['temp'] = business['name'].str.contains('Nueva', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Mexican', business['cat'])

In [2699]:
business['temp'] = business['name'].str.contains('Pueblo', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Mexican', business['cat'])

In [2700]:
business['temp'] = business['name'].str.contains('Salsita', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Mexican', business['cat'])

In [2701]:
pd.set_option('display.max_row', 100)
business['cat'].value_counts()

Mexican                      490
American (New)               323
Pizza                        279
Burgers                      259
Sandwiches                   226
Chinese                      168
Cafe                         165
Italian                      120
Coffee & Tea                  71
Sushi                         67
Chicken                       60
American (Traditional)        59
Ice Cream & Frozen Yogurt     58
Diners                        51
Barbeque                      49
Greek                         48
Sports Bar                    47
Thai                          42
Cocktail Bars                 41
Burger                        40
Wine Bars                     40
Deli                          38
Vietnamese                    37
Steakhouses                   37
Indian                        29
Juice Bars & Smoothies        27
Japanese                      27
Asian Fusion                  26
Seafood                       22
Bagels                        20
Hot Dogs                      19
Middle Eastern                18
Mediterranean                 18
Fish & Chips                  16
Gastropub                     16
Soul Food                     16
Breakfast & Brunch            16
French                        15
Hawaiian                      15
Bars                          14
Donuts                        14
Buffets                       13
Tex-Mex                       13
Southern                      11
Korean                         9
Food Court                     9
Dive Bar                       9
Vegan                          8
Salvadoran                     8
Cajun                          7
Vegetarian                     7
Bakeries                       7
Latin America                  6
Salad                          6
Caribbean                      6
Cafes                          5
Kosher                         5
Ethiopian                      4
Cuban                          4
Spanish                        4
African                        4
Pretzels                       4
Delis                          4
NA                             3
Bavarian                       3
Modern European                2
Afghan                         2
Gluten-Free                    2
pizza                          2
Polish                         2
German                         2
Peruvian                       2
Comfort Food                   1
Cheesesteaks                   1
Name: cat, dtype: int64

#### Consolidate categories

In [2702]:
business['temp'] = business['cat'].str.contains('Bavarian', regex=False)
business['cat'] = np.where(business['temp'] == True, 'German', business['cat'])

In [2703]:
business['temp'] = business['cat'].str.contains('Salvadoran', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Latin America', business['cat'])

In [2704]:
business['temp'] = business['cat'].str.contains('Peruvian', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Latin America', business['cat'])

In [2705]:
business['temp'] = business['cat'].str.contains('Ethiopian', regex=False)
business['cat'] = np.where(business['temp'] == True, 'African', business['cat'])

In [2728]:
business['temp'] = business['cat'].str.contains('Cheesesteaks', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Sandwiches', business['cat'])

In [2729]:
business['temp'] = business['cat'].str.contains('pizza', regex=False)
business['cat'] = np.where(business['temp'] == True, 'Pizza', business['cat'])

In [2730]:
business['cat'].value_counts()

Mexican                      490
American (New)               323
Pizza                        281
Burgers                      259
Sandwiches                   227
Chinese                      168
Cafe                         165
Italian                      120
Coffee & Tea                  71
Sushi                         67
Chicken                       60
American (Traditional)        59
Ice Cream & Frozen Yogurt     58
Diners                        51
Barbeque                      49
Greek                         48
Sports Bar                    47
Thai                          42
Cocktail Bars                 41
Wine Bars                     40
Burger                        40
Deli                          38
Steakhouses                   37
Vietnamese                    37
Indian                        29
Juice Bars & Smoothies        27
Japanese                      27
Asian Fusion                  26
Seafood                       22
Bagels                        20
Hot Dogs                      19
Mediterranean                 18
Middle Eastern                18
Soul Food                     16
Latin America                 16
Gastropub                     16
Breakfast & Brunch            16
Fish & Chips                  16
French                        15
Hawaiian                      15
Donuts                        14
Bars                          14
Buffets                       13
Tex-Mex                       13
Southern                      11
Dive Bar                       9
Food Court                     9
Korean                         9
African                        8
Vegan                          8
Cajun                          7
Vegetarian                     7
Bakeries                       7
Caribbean                      6
Salad                          6
Kosher                         5
Cafes                          5
German                         5
Pretzels                       4
Cuban                          4
Spanish                        4
Delis                          4
NA                             3
Modern European                2
Afghan                         2
Gluten-Free                    2
Polish                         2
Comfort Food                   1
Name: cat, dtype: int64

#### Chains (https://www.restaurantbusinessonline.com/top-500-chains)

In [2711]:
business['chain'] = False
business['chain'] = business.groupby(['name']).transform('count')

In [2712]:
business['chain'] = np.where(business['chain'] > 1, True, False)

In [2713]:
business.head(5)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,...,categories,cat,Fast Food,Bars,Gluten-Free,Vegetarian,Vegan,Pizza,temp,chain
5,rDMptJYWtnMhpQu_rRXHng,"""McDonald's""",NaN,"""719 E Thunderbird Rd""",Phoenix,AZ,85022,33.607070,-112.064382,1.0,...,Fast Food;Burgers;Restaurants,Burgers,True,False,False,False,False,False,False,True
6,1WBkAuQg81kokZIPMpn9Zg,"""Charr An American Burger Bar""",NaN,"""777 E Thunderbird Rd, Ste 107""",Phoenix,AZ,85022,33.607310,-112.063404,3.0,...,Burgers;Restaurants,Burgers,False,False,False,False,False,False,False,False
8,iPa__LOhse-hobC2Xmp-Kw,"""McDonald's""",NaN,"""1635 E Camelback Rd""",Phoenix,AZ,85016,33.508765,-112.046240,3.0,...,Restaurants;Burgers;Fast Food,Burgers,True,False,False,False,False,False,False,True
12,QkG3KUXwqZBW18A9k1xqCA,"""Red Lobster""",NaN,"""2810 North 75th Ave""",Phoenix,AZ,85035,33.478735,-112.221379,2.5,...,American (Traditional);Restaurants;Seafood,Seafood,False,False,False,False,False,False,False,True
13,5XejqzaFmtkZMstJS5Iy-w,"""D'Lish Cafe""",NaN,"""503 W Thomas Rd""",Phoenix,AZ,85013,33.480301,-112.080586,4.0,...,Vegan;American (New);Restaurants;Sandwiches;Sa...,Cafe,False,False,False,False,True,False,False,False

#### Check on value counts

In [2719]:
business['cat'].value_counts()

Mexican                      490
American (New)               323
Pizza                        279
Burgers                      259
Sandwiches                   227
Chinese                      168
Cafe                         165
Italian                      120
Coffee & Tea                  71
Sushi                         67
Chicken                       60
American (Traditional)        59
Ice Cream & Frozen Yogurt     58
Diners                        51
Barbeque                      49
Greek                         48
Sports Bar                    47
Thai                          42
Cocktail Bars                 41
Wine Bars                     40
Burger                        40
Deli                          38
Steakhouses                   37
Vietnamese                    37
Indian                        29
Juice Bars & Smoothies        27
Japanese                      27
Asian Fusion                  26
Seafood                       22
Bagels                        20
Hot Dogs                      19
Mediterranean                 18
Middle Eastern                18
Gastropub                     16
Soul Food                     16
Fish & Chips                  16
Latin America                 16
Breakfast & Brunch            16
Hawaiian                      15
French                        15
Bars                          14
Donuts                        14
Tex-Mex                       13
Buffets                       13
Southern                      11
Food Court                     9
Dive Bar                       9
Korean                         9
Vegan                          8
African                        8
Bakeries                       7
Vegetarian                     7
Cajun                          7
Salad                          6
Caribbean                      6
German                         5
Kosher                         5
Cafes                          5
Delis                          4
Cuban                          4
Spanish                        4
Pretzels                       4
NA                             3
Gluten-Free                    2
Modern European                2
Polish                         2
pizza                          2
Afghan                         2
Comfort Food                   1
Name: cat, dtype: int64

In [2721]:
business['Fast Food'].value_counts()

False    2745
True      573
Name: Fast Food, dtype: int64

In [2722]:
business['Bars'].value_counts()

False    2801
True      517
Name: Bars, dtype: int64

In [2723]:
business['Gluten-Free'].value_counts()

False    3269
True       49
Name: Gluten-Free, dtype: int64

In [2724]:
business['Vegetarian'].value_counts()

False    3253
True       65
Name: Vegetarian, dtype: int64

In [2725]:
business['Vegan'].value_counts()

False    3284
True       34
Name: Vegan, dtype: int64

In [2726]:
business['Pizza'].value_counts()

False    2933
True      385
Name: Pizza, dtype: int64

In [2727]:
business['chain'].value_counts()

False    2087
True     1231
Name: chain, dtype: int64

#### Use the code below to interrogate categories

In [2717]:
i = False #write in what category you are interested in

In [2718]:
bizzy = business.loc[business['chain']==i]
pd.set_option('display.max_row', 100)
bizzy['name'].value_counts() ==1

"Bamboo Grille"                                True
"Lennys Burger"                                True
"Mr Leno"                                      True
"Salute Ristorante Italiano"                   True
"Fuego CityScape"                              True
"Pure Sushi Colony"                            True
"Asian Seafood Buffet"                         True
"China Restaurant"                             True
"Barfly"                                       True
"El Rinconcito Mexican Food"                   True
"Bobby D's Restaurant & Lounge"                True
"Pacifica Ceviche"                             True
"Stacy's Pampered Pig"                         True
"Hana Sushi"                                   True
"Michelina's"                                  True
"Caffe Daniel"                                 True
"Zookz Sandwiches"                             True
"Melrose Kitchen"                              True
"SaBai Modern Thai"                            True
"Turk's Fish and Chips"                        True
"La Tradicion Restaurant"                      True
"Tutti Santi"                                  True
"Pittsburgh Pizza Company"                     True
"Casa Filipina Bakeshop & Restaurant"          True
"TÅªK Urban KafÃ©"                               True
"Phuong Dong"                                  True
"Moira Sushi Bar & Kitchen"                    True
"Teakwoods Tavern & Grill"                     True
"Bush's Chicken"                               True
"Hong Kong Gourmet Buffet"                     True
"Indian Express"                               True
"Barrio Cafe"                                  True
"Senor Pizza"                                  True
"Our Family's Bistro"                          True
"Mi Comida Restaurante Latino"                 True
"The Notorious P I G"                          True
"Yoshi's"                                      True
"Chili's Grill & Bar Catering"                 True
"Little King of Kings"                         True
"Pizza & Krispy Krunchy Chicken"               True
"Elephant Bar Restaurant"                      True
"Vitamin T"                                    True
"Mariscos Playa Del Sol"                       True
"Gadzooks Enchiladas & Soup"                   True
"Copper Blues Rock Pub & Kitchen - Phoenix"    True
"Romero's Mexican Food"                        True
"Forno 301"                                    True
"Tacos Sahuaro"                                True
"La Piazza PHX"                                True
"La Madeleine Country French Cafe"             True
                                               ...
"JB's Restaurant"                              True
"Bacchanal Ristorante"                         True
"Best of Philly"                               True
"Pho Bang Restaurant"                          True
"Chestnut Lane"                                True
"PDQ"                                          True
"Imperial Garden Chinese Buffett"              True
"Scooter's Coffee"                             True
"Santa Madre Taco Shop"                        True
"Jacksons Food Store"                          True
"South Bank Grill"                             True
"Los Portales"                                 True
"Ichi Bowl"                                    True
"O to Go Coffee Bar"                           True
"Hopdoddy Burger Bar"                          True
"Mariscos el Cochorit"                         True
"Golden Thai Kitchen"                          True
"Richardson's Cuisine of New Mexico"           True
"Nori Sushi"                                   True
"La Canasta"                                   True
"Thai Basil"                                   True
"DaVang's"                                     True
"Squash Blossom"                               True
"Sing High Chop Suey House"                    True
"Lone Star Steakhouse"                         True
"Lucky's Burgers & Shakes"                     True
"Long Wong's North Phoenix"                    True
"Our Gang Sports Saloon & Grill"               True
"JoBot Coffee & Diner"                         True
"Ming's Pagoda"                                True
"Jacquee's Espresso"                           True
"CoR Tapas & Wine"                             True
"Wildberri"                                    True
"Culvers"                                      True
"Great China Super Buffet"                     True
"Tom Yum Thai Restaurant"                      True
"Focaccia Fiorentina"                          True
"Buffalo Browns Wings and Things"              True
"Floyd's Kitchen"                              True
"Pak Afghan Halal Restaurant & Catering"       True
"Edelweiss German Deli"                        True
"Sushi Ken"                                    True
"Tacos Jalisco"                                True
"Nuevo Burrito"                                True
"Cervantes Bistro At Royal Palms Resort"       True
"Koreana BBQ"                                  True
"Chennai Chettinaad Palace"                    True
"Filiberto's Mexican Rest"                     True
"12th Fairway Bar & Grill"                     True
"Rodibertos Mexican Food"                      True
Name: name, Length: 2087, dtype: bool

In [ ]:
bizzy.head(20)